



body{
    background-color: hsl(212, 45%, 89%) ;
    font-family: 'Work Sans', sans-serif;
}
.card{
    width: 300px;
    display: block;
    margin: 3rem auto 2rem;
    padding: 1rem 1rem 1.5rem;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.card img{
    width: 100%;
    border-radius: 15px;
}

.card h2{
    font-weight:700 ;
    padding: 1rem;
}

.card p{
    font-weight: 400;
    margin: 0 22px;
}